{% extends 'academics/base.html' %}
{% block content %}
    {% load staticfiles %}
    <div class="site-section ftco-subscribe-1 site-blocks-cover pb-4"
         style="background-image: url('{% static "academics/images/bg_1.jpg" %}')">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-7">
                    <h2 class="mb-0">{{ course.title }}</h2>
                    <p>{{ course.excerpt }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="custom-breadcrumns border-bottom">
        <div class="container">
            <a href="{% url 'enquiry:index' %}">Home</a>
            <span class="mx-3 icon-keyboard_arrow_right"></span>
            <a href="courses.html">Courses</a>
            <span class="mx-3 icon-keyboard_arrow_right"></span>
            <span class="current">{{ course.title }}</span>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <p>
                        <img src="{{ course.image.url }}" alt="Image" class="img-fluid">
                    </p>

                    <p class="text-center">
                        {% if request.user.is_authenticated %}
                            <a href="#"
                               class="btn btn-primary rounded-0 btn-lg px-5 text-center"
                               style="width: 100%"
                               data-toggle="modal"
                               data-target="#exampleModalCenter"
                            >
                                Enroll For This Course
                            </a>
                        {% else %}
                            <a href="#"
                               class="btn btn-primary rounded-0 btn-lg px-5 text-center"
                               style="width: 100%"
                            >
                                Enquire For This Course
                            </a>
                        {% endif %}
                    </p>

                </div>
                <div class="col-lg-5 ml-auto align-self-center">
                    <div class="mb-5">
                        <h4 class="section-title-underline mb-3s">
                            <span>Shifts</span>
                        </h4>
                        {% for course_shift in course.course_shifts.all %}
                            <div>
                                <span class="text-black font-weight-bold">{{ course_shift.shift }}: </span>
                                <span class="mx-2">{{ course_shift.shift.start_time }} &mdash; {{ course_shift.shift.end_time }}</span>
                                {% if course_shift.has_remaining_seats %}
                                    <span class="text-success font-weight-bold">( {{ course_shift.remaining_seats }} Seats Remaining )</span>
                                {% else %}
                                    <span class="text-danger">( No Seats Available )</span>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <h2 class="section-title-underline mb-5">
                        <span>Course Details</span>
                    </h2>
                    <div>
                        {{ course.extra_information | safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'snippets/philoshophy.html' %}

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Enroll In Course:
                        <span class="font-weight-bold">{{ course }}</span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="{% url 'enquiry:enroll' %}">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Preferred Shift</label>
                            <select class="form-control" id="exampleFormControlSelect1" name="shift">
                                {% for course_shift in course.course_shifts.all %}
                                    <option value="{{ course_shift.id }}">{{ course_shift.shift }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% if not requser.user.student %}
                        <div class="form-group">
                            <label for="number">Contact Number</label>
                            <input type="text" class="form-control" id="number" placeholder="number"
                                   name="phone_number">
                        </div>
                        <div class="form-group">
                            <label for="location">Location</label>
                            <input type="text" class="form-control" id="location" placeholder="location" name="location">
                        </div>
                        <div class="form-group">
                            <label for="educationLevel">Education Level</label>
                            <select class="form-control" id="educationLevel" name="education_level">
                                <option value="Slc">Slc</option>
                                <option value="Intermediate">Intermediate</option>
                                <option value="Bachelor">Bachelor</option>
                                <option value="Master">Master</option>
                            </select>
                        </div>
                    {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Enroll</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
